<div class="custom-body">
  <p class="main-title">Hola! {{user._doc.first_name}} {{user._doc.last_name}}, bienvenido(a) </p>

 

  <div class="main-content">
    <div class="sidebar">
      <div class="filters">
        <h2>Categorías</h2>
        <a href="/products" class="filter-link">All</a>
        <a href="/products?category=custome dogs" class="filter-link">custome dogs</a>
        <a
          href="/products?category=custome cats"
          class="filter-link"
        >custome cats</a>

        <h2>Disponibilidad</h2>
        <a
          href="/products?stockIn={ $gt: 1 }"
          class="filter-link"
        >Disponible</a>
        <a href="/products?stockOut={ $eq: 0 }" class="filter-link">No
          Disponible</a>
      </div>
    </div>

    <div class="main-section">
      <div class="navigation">
        {{#if prevLink}}
          <a href="{{prevLink}}" class="nav-link">Página Anterior</a>
        {{/if}}

        {{#if nextLink}}
          <a href="{{nextLink}}" class="nav-link">Página Siguiente</a>
        {{/if}}

        <a href="/products?sort=asc&{{queryString}}" class="sort-link">Ordenar
          Ascendente</a>
        <a href="/products?sort=desc&{{queryString}}" class="sort-link">Ordenar
          Descendente</a>
      </div>

      <div class="container">
        <div class="card-container">
          {{#each payload}}
            <div class="card">
              <div class="card-body">
                <p><strong>Id:</strong> {{this._id}}</p>
                <p><strong>Nombre:</strong> {{this.title}}</p>
                <p><strong>Descripción:</strong> {{this.description}}</p>
                <p><strong>Precio:</strong> {{this.price}}</p>
                <p><strong>Código:</strong> {{this.code}}</p>
                <p><strong>Stock:</strong> {{this.stock}}</p>
                <p><strong>Status:</strong> {{this.status}}</p>
                <p><strong>Categoría:</strong> {{this.category}}</p>
                <div class="quantity-container">
                  <label
                    class="quantity-label"
                    for="quantity-{{this._id}}"
                  >Cantidad:</label>
                  <input
                    type="number"
                    min="1"
                    value="1"
                    class="quantity-input"
                    id="quantity-{{this._id}}"
                    name="quantity-{{this._id}}"
                    data-product-id="{{this._id}}"
                  />
                </div>
                <button
                  class="add-to-cart-btn"
                  data-product-id="{{this._id}}"
                  data-product-role={{../user._doc.role}}
                >
                  Agregar al Carrito
                </button>
                <span
                  class="access-denied-message"
                  style="display:none; color: red;"
                >Access Denied</span>
              </div>
            </div>
          {{/each}}
        </div>
      </div>

      <div class="pagination">
        {{#if hasPrevPage}}
          <a
            href="/products?page={{prevPage}}"
            class="pagination-link prev-page-link"
          >Previous</a>
        {{/if}}

        {{#if hasNextPage}}
          <a
            href="/products?page={{nextPage}}"
            class="pagination-link next-page-link"
          >Next</a>
        {{/if}}

        <p class="page-info">Page {{page}} of {{totalPages}}</p>
      </div>
    </div>
  </div>
</div>

{{! traer las funciones y metodos de socket.io }}
<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
{{! vincular el archivo de js con la vista de products.handlebars }}
<script src="js/main.js"></script>